*{margin:0;box-sizing:border-box}.grid{display:grid;grid-template-columns:repeat(3, 1fr)}.grid-item{text-align:center;padding:50px}.grid-item:nth-child(even){background:#DDDDDD}.view-item{width:100%;text-align:center}.button{color:white;width:30%;display:block;-webkit-appearance:none;background:#2549D6;font-family:Helvetica;font-size:15px;padding:5px;margin:5px auto;border:1px solid black;border-radius:5px;text-decoration:none}.button:hover{cursor:pointer}@media screen and (max-width: 414px){.grid{grid-template-columns:1fr}}
/*# sourceMappingURL=main.css.map */
